language: android
jdk: oraclejdk8
android:
  components:
    - tools
    - platform-tools
    - tools
    - build-tools-25.0.1
    - android-24
    - extra-android-m2repository
script:
   - ./gradlew build
